body {
    color: #222;
    background: #e1e1e1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

a {
    color: #039be5;
}
  
@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #18232c;
    }

    body a {
        color: #dc7092;
    }

    svg {
        filter: invert(73%) sepia(19%) saturate(3576%) hue-rotate(297deg) brightness(89%) contrast(93%);
    }
}
  
.social-link {
    margin-right: 15px;
    display: inline-block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
