body {
  background: #18232c;
  color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

a {
  color: #dc7092;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile-name {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 0.9em;
  align-items: center;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.social-icon {
  width: 24px;
  height: 24px;
  display: block;
}

.section-title {
  font-size: 1.45rem;
  margin-top: 1.1em;
  margin-bottom: 0.45em;
}

.content-item + .content-item {
  margin-top: .5em;
}

.container {
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 980px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1040px;
  }
}
